version: '3.8'

services:
  app:
    build:
      context: .
      target: runner  # указываем, что нужно использовать стадию runner для сборки
    ports:
      - "3000:3000"  # пробрасываем порт, чтобы приложение было доступно снаружи
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOSTNAME=0.0.0.0
    user: "1001"  # используем созданного пользователя для запуска



volumes:
  .next_cache:  # объявляем volume, если вы хотите сохранить кэш .next между перезапусками контейнера
