.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
}







.video video {
  width: 100%;
}

.logo {
  width: 50px;
  height: auto;
}

.container_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.language_bar {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.language_bar a {
  font-size: 18px;
  line-height: 24.51px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.language_bar a.active {
  background: rgba(255, 255, 255, 0.2);
}

/* Links */

.link_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.link_body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.link_id h1{
  font-size: 71px;
  line-height: 97px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  font-family: var(--cinzel);
  font-weight: 400;
  width: 40px;
  padding-top: 10px;
}

.link_id,.link_text{
  height: 97px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.link_title h4 {
  font-family: var(--lora);
  font-size: 38px;
  font-weight: 400;
  line-height: 48.64px;
  color: rgba(255, 255, 255, 0.3);
}

.link_subtitle p {
  font-family: var(--noto);
  font-size: 16px;
  font-weight: 300;
  line-height: 21.79px;
  color: rgba(255, 255, 255, 0.3);
}

.link_border {
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

/* Links end */

/* 
.preview{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: videoPreview 9s linear forwards;
  opacity: 1;
}

@keyframes videoPreview {
  0% {
    opacity: 1;
    display: flex;
  }
  50%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
    background-color: #fff;
    z-index: -1;
  }
} */
